article {
  border: solid;
  border-width: 5px;
  border-color:#545149;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height:fit-content;
}

.user {
  color:#545149;
  padding:0;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.publish-info {
  font-size:large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article:hover {
  box-shadow: 10px 10px 5px rgb(178, 181, 183);
}

#full-tweet {
  font-weight:600;
  border-bottom:solid;
  border-width: 5px;
  border-color:#545149;
  padding:20px;
  overflow-wrap:normal;
}

.icons {
  color:#4056A1;
}

#username {
  font-weight:600;
}

#flag:hover {
  color: rgb(198, 192, 81);
}

#rt:hover {
  color: rgb(198, 192, 81);
}

#heart:hover {
  color: red;
}

.avatar {
  height: 1.5em;
  width: 1.5em;
}

span {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .user {
    margin-top:0;
  }
}